[submodule "includes/pallazzio-wordpress-github-updater"]
	path = includes/pallazzio-wordpress-github-updater
	url = https://github.com/pallazzio/pallazzio-wordpress-github-updater
[submodule "includes/pallazzio-wordpress-settings-framework"]
	path = includes/pallazzio-wordpress-settings-framework
	url = https://github.com/pallazzio/pallazzio-wordpress-settings-framework
